.wrapperBtnConnected
	// border: 1px solid red
	&__top
		position: absolute
		max-width: 255px
		width: 100%
		top: -110px
		right: 15px
	&__bottom
		margin-top: 32px

.popupGallery
	// border: 3px solid green
	width: 100%
	position: relative
	.swiper-container
		// border: 2px solid green
		height: 100%
		width: 100%
		.swiper-slide
			// border: 2px solid red
			position: relative
			transition: .25s
			width: 100% !important
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			// border-radius: 5px
			cursor: pointer
	.swButton_popup
		// border: 2px solid red
		width: 45px
		height: 45px
		background-color: rgba(#fff, 1)
		background-repeat: no-repeat
		background-size: 50%
		background-position: center
		border-radius: 50%
		position: absolute
		top: calc(50% - 23px)
		z-index: 99
		background-image: url(./icons/arrow.svg)
		&.prev
			left: 25px
			transform: rotate(180deg)
			@media (max-width: 998px)
				left: 10px	
				width: 35px
				height: 35px
		&.next
			right: 25px
			@media (max-width: 998px)
				right: 10px	
				width: 35px
				height: 35px


	
.mainGallery
	.swiper-slide
		// border: 1px solid red
		// border-radius: 5px
		display: flex
		// height: 277px
		// width: 35%
		transition: .25s
		// aspect-ratio: 1.6 / 1
		overflow: hidden
		// &-active
		// 	height: 277px
		// 	width: 445px

		.innerSlideWrapper
			position: relative
			width: 100%
			background: #fff
			// border: 1px solid #E1E4EA
			box-sizing: border-box
			// padding: 16px
			cursor: pointer
			img
				width: 100%
				border-radius: 5px
	 

	// .innerSlideWrapper // слайд с описанием
	// 	position: relative
	// 	width: 100%
	// 	background: #fff
	// 	border: 1px solid #E1E4EA
	// 	box-sizing: border-box
	// 	border-radius: 5px
	// 	padding: 16px
	// 	.slide_img2
	// 		img
	// 			width: 100%
	// 	.slide_img
	// 		border: 1px solid red
	// 		align-items: flex-end
	// 		background-position: center
	// 		background-repeat: no-repeat
	// 		background-size: cover
	// 		border-radius: 4px
	// 		position: relative
	// 		width: 100%
	// 		aspect-ratio: 2 / 1
	// 	.slide_info
	// 		display: flex
	// 		justify-content: space-between
	// 		margin-top: 16px
	// 		font-size: 16px
	// 		line-height: 20px
	// 		.title
	// 			font-family: 'textMedium'
	// 		.date
	// 			white-space: nowrap
	// 			font-family: 'textRegular'
	// 			color: $grey_dark2


			
.control
	display: flex
	align-items: center
	margin-top: 40px
	@media (max-width: 576px)
		margin-top: 24px
	.buttons
		// border: 1px solid red
		display: flex
		margin-right: 64px
		::v-deep button
			// border: 1px solid red 
			margin-right: 16px
		@media (max-width: 576px)
			display: none
	.pb
		// border: 1px solid red
		width: 100%